Repository DaevMithran/FractionXChange, changes with the labels that .github/labeler.yml gives for each.
All labels: C:app-wiring, C:wasm, C:x/guard, C:x/txfees, C:x/airdrop, C:x/bridge, C:x/coinfactory, C:x/did, C:x/farming, C:x/liquidity, C:x/lpfarm, C:x/marketmaker, C:x/rewards, C:x/token, T:build, T:CI, C:CLI, C:docs

.github/labeler.yml:

# Note that any updates to this files will not be applied in CI
"C:app-wiring":
  - changed-files:
      - any-glob-to-any-file:
          - app/*.go
          - app/apptesting/**
          - app/keepers/**
          - app/params/**
          - app/upgrades/**
          - x/**/module.go
"C:wasm":
  - changed-files:
      - any-glob-to-any-file:
          - wasmbinding/**
"C:x/guard":
  - changed-files:
      - any-glob-to-any-file:
          - x/guard/**
"C:x/txfees":
  - changed-files:
      - any-glob-to-any-file:
          - x/txfees/**
"C:x/airdrop":
  - changed-files:
      - any-glob-to-any-file:
          - x/airdrop/**
"C:x/bridge":
  - changed-files:
      - any-glob-to-any-file:
          - x/bridge/**
"C:x/coinfactory":
  - changed-files:
      - any-glob-to-any-file:
          - x/coinfactory/**
"C:x/did":
  - changed-files:
      - any-glob-to-any-file:
          - x/did/**
"C:x/farming":
  - changed-files:
      - any-glob-to-any-file:
          - x/farming/**
"C:x/liquidity":
  - changed-files:
      - any-glob-to-any-file:
          - x/liquidity/**
"C:x/lpfarm":
  - changed-files:
      - any-glob-to-any-file:
          - x/lpfarm/**
"C:x/marketmaker":
  - changed-files:
      - any-glob-to-any-file:
          - x/marketmaker/**
"C:x/rewards":
  - changed-files:
      - any-glob-to-any-file:
          - x/rewards/**
"C:x/token":
  - changed-files:
      - any-glob-to-any-file:
          - x/token/**

"T:build":
  - changed-files:
      - any-glob-to-any-file:
          - Makefile
          - Dockerfile
          - scripts/*
"T:CI":
  - changed-files:
      - any-glob-to-any-file:
          - .github/**/*.yml
          - .mergify.yml
          - .golangci.yml
"C:CLI":
  - changed-files:
      - any-glob-to-any-file:
          - client/**
          - x/*/client/**
"C:docs":
  - changed-files:
      - any-glob-to-any-file:
          - bug.md
          - issue.md
          - proto-docs.md
          - README.md
          - x/**/*.md
          - x/**/*/*.md
          - tests/**/*.md

Initial commit
  README.md
Labels: C:docs

Complete fractionnft module
  .gitignore
  api/fractionnft/v1/state.cosmos_orm.go
  app/app.go
  app/decorators/msg_filter_template.go
  x/fractionnft/autocli.go
  x/fractionnft/depinject.go
  x/fractionnft/keeper/keeper.go
  x/fractionnft/keeper/keeper_test.go
  x/fractionnft/module.go
Labels: C:app-wiring

Update Burn logic && Integrate ibc blacklisting
  Makefile
  api/fractionnft/v1/fracctionnft.pulsar.go
  api/fractionnft/v1/tx.pulsar.go
  api/fractionnft/v1/tx_grpc.pb.go
  app/ante.go
  app/app.go
  app/decorators/msg_block_ibc.go
  app/decorators/msg_filter_test.go
  proto/fractionnft/v1/fracctionnft.proto
  proto/fractionnft/v1/tx.proto
  scripts/test_node.sh
  x/fractionnft/autocli.go
  x/fractionnft/depinject.go
  x/fractionnft/keeper/keeper.go
  x/fractionnft/keeper/keeper_test.go
  x/fractionnft/keeper/msg_server.go
  x/fractionnft/module.go
  x/fractionnft/types/fracctionnft.pb.go
  x/fractionnft/types/tx.pb.go
Labels: C:app-wiring, T:build

Add demo scripts
  Makefile
  scripts/demo.sh
  scripts/populate_nfts.sh
  scripts/query_denom_owners.sh
  scripts/test_node.sh
  x/fractionnft/keeper/keeper.go
Labels: T:build

Add Readme
  README.md
  x/fractionnft/README.md
Labels: C:docs
